@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: bitcount grid double, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-image: linear-gradient(to right, #01022d, #000);

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, #01022de5 30%, #0000006c), url(wallpaper.webp);
    width: 90%;
    height: 90%;
    background-position: center;
}

.container:hover {
    background-image: linear-gradient(to right, #01022de5 30%, transparent), url(wallpaper.webp);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

ul {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
}

ul a {
    border-bottom: 2px solid transparent;
}

ul a:hover {
    font-size: 30px;
    border-bottom-color: white;
    transition: 0.5s;
    background-color: rgba(38, 94, 139, 0.342);
}

.content {
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 20px;
}

.content h2 {
    font-size: 100px;
    margin-bottom: 30px;
}

.content p {
    font-size: 20px;
    letter-spacing: 4px;
    width: 400px;
}

.content button {
    font-size: 30px;

    margin-top: 10px;
    padding: 6px 10px;
    border-radius: 16px;
    background-color: #4b4dd6;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
}

.content button:hover {
    background-color: transparent;
    border-color: white;
    transition: 0.5s;
}